<html>
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
  </head>
<body>
<div id="modal">
  <div class="modal-content">
    <button id="close-popup"type="button" class="close" data-dismiss="modal" aria-label="{{texts.close}}">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-header">
      <h3>{{texts.title}}</h3>
      <h4>{{texts.sub_title}}</h4>
    </div>
    <div class="modal-body">
      <div class="row">
      {{#sites}}
        <div class="col-cs-12 col-sm-6 partner-container">
          <img src="{{logo}}" />
          {{#translations}}
            <h5>{{title}}</h5>
            <p>{{description}}</p>
            <a class="btn btn-link" href="//{{../hostname}}" data-id="{{../id}}">{{button}}</a>
          {{/translations}}
        </div>
      {{/sites}}
      </div>
    </div>
  </div>
</div>
<script>
  // HandleClick
  var scFunction = function (e) {
    window.sendConvertion(this.dataset, this.href);
    return false;
  };
  // Assign handler to click
  var links = document.getElementsByClassName('btn-link');
  for (var i=0; i < links.length; i++) {
    links[i].onclick = scFunction;
  }
  // Remove & destroy the iframe on close
  document.getElementById('close-popup').onclick = function(e) { window.detroyIframe(); };
</script>
</body>
</html>
