<html>
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
  </head>
<body>
<div id="modal">
  <div class="modal-content">
    <button id="close-popup"type="button" class="close" data-dismiss="modal" aria-label="{{texts.close}}">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-header">
      <h3>{{texts.title}}</h3>
      <h4>{{texts.sub_title}}</h4>
    </div>
    <div class="modal-body">
      <div class="row">
      {{#sites}}
        <div class="col-cs-12 col-sm-6 partner-container">
          <img src="https://www.woorank.com/assets/img/exit-page/internet-vista.png" />
          <h5>{{title}}</h5>
          <p>{{description}}</p>
          <a class="btn" href="{{hostname}}">{{button}}</a>
        </div>
      {{/sites}}
      </div>
    </div>
  </div>
</div>
<script>
  // Remove & destroy the iframe on close
  document.getElementById('close-popup').onclick = function(e) { window.detroyIframe(); };
</script>
</body>
</html>
